body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.image-container {
    width: 48%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Añadir margen entre los botones */
}

button:hover {
    background-color: #0056b3;
}

